@font-face {
    font-family: 'Nautilus Pompilius';
    src: local('Nautilus Pompilius'), local('NautilusPompilius'), url('nautiluspompilius.woff2') format('woff2'), url('nautiluspompilius.woff') format('woff'), url('nautiluspompilius.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
