@import "../sprites/sprite";

@font-face {
    font-family: 'Lato-Regular';
    src: url('/assets/fonts/latoregular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('/assets/fonts/latobold.ttf') format('truetype');
}

@font-face {
    font-family: 'Museo-Cyrl';
    src: url('/assets/fonts/Museocyrl500.ttf') format('truetype');
}

@font-face {
    font-family: 'Nautilus-Pompilius';
    src: url('/assets/fonts/nautiluspompilius.ttf') format('truetype');
}

body {
    min-width: 320px;
}

.container {
    padding: 0;
}

.navbar-default {
    box-shadow: none;
    background-image: none;
    background-color: rgba(128,128,128, .2);
    border-color:rgba(128,128,128, .2);
}

.navbar-default .navbar-nav>li>a {
    color:  #aaabaa;
    text-transform: uppercase;
    text-shadow: none;
    font-family: 'Lato-Regular', sans-serif;
    font-size: 14px;
    transition: all .3s ease;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
    background-image: none;
    box-shadow: none;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color:  #fff;
    background-color: transparent;
}

.nav>li>a {
        padding: 15px 34px;    
}

/* ------------------------------------
    Header Styles
------------------------------------- */

.header {
    
    &--bgc {
        background: url(/assets/images/header__bgc-min.jpg) no-repeat center;
        background-size: cover;
        height: 750px;
    }
    
    &__logo {
        display: inline-block;
        margin-top: 20px;        
        margin-bottom: 14px;
    }
    
    &__icon {
        display: inline-block;
        margin-top: 20px;
        margin-right: 20px;  
        cursor: pointer;
        &--insta {
           @include sprite($icon-instagram);
        }
        &--vk {
           @include sprite($icon-vk);
        }
        &--fb {
           @include sprite($icon-fb);
        }
        &--twitter {
           @include sprite($icon-twitter);
        }
    }
    
    &__link {
         display:  inline-block;
         margin-top: 20px;
         font-family: 'Lato-Regular', sans-serif;
         font-size: 16px;
        border-bottom:1px solid #aaabaa;
        padding-bottom:2px;
         color: #aaabaa;
        //  text-align: right;
        display: inline-block;
         transition: all .3s ease;
         &:hover {
             text-decoration: none;
             color: #fff;
         }
    }
    
    &__info {
        display: block;
        margin-left: 140px;
        font-family: 'Lato-Regular', sans-serif;
        font-size: 16px;
        color: #aaabaa;
        transition: all .3s ease;
        text-align: left;
        &--phone {
            margin-top: 20px;
            position: relative;
            &:before {
            position: absolute;
            content: '';
            @include sprite($icon-phone);
                left: -30px;
            }
        }
        &--marker {
            margin-top: 10px;
            position: relative;
            &:before {
            position: absolute;
            content: '';
            @include sprite($icon-location);
                left: -30px;
            }
        }
        &:hover {
          color: #fff;
          text-decoration: none;
        }
    }
    
    &__title {
        font-family: 'Museo-Cyrl', sans-serif;
        // text-align: center;
        font-weight: bold;
        color: #fff;
        font-size: 60px;
        letter-spacing: 2px;
        margin-top: 96px;
    }
    
    &__subtitle {
        font-family:  'Nautilus-Pompilius', sans-serif;
        // text-align: center;
        font-size: 28px;
        color: #fff;
    }
    
    &__button {
        font-family: 'Lato-Bold', sans-serif;
        font-size: 17px;
        color: #fff;
        text-transform: uppercase;
        background-color: #27cbc0;
        border-style: none;
        padding: 22px 32px;
        border-radius:  4px;
        margin-top: 60px;
        transition: all .3s ease;
        &:hover {
            background-color: #29d9cd;
        } 
        &--howto {
                padding: 18px 36px;
                margin-top: 64px;
                margin-right: 6px;
        }
    }
    
}

/* ------------------------------------
    Our Cars Styles
------------------------------------- */

.ourcars {
    &__title {
        margin-top: 90px;
        margin-bottom: 60px;
        text-align: center;
        font-size: 40px;
        font-family: 'Museo-Cyrl', sans-serif;
        position: relative;
        &:before {
            position: absolute;
            content: '';
            height: 2px;
            width: 100%;
            bottom: -14px;
            background-color: #27cbc0;
        }
    }
    &__car {
        margin-top: 30px;
        color: #333;            
        display: block;
        span {
            display: block;
            font-family: 'Lato-Regular', sans-serif;
            font-size: 16px;
            color: #a7a7a7;
        }
        &:hover {
            text-decoration: none;
        }
    }
    &__image {
        background-size:  contain;
        height: 160px;
        &--limo {
            background: url(/assets/images/ourcars__limo-min.jpg) no-repeat center;
        }
        &--sedan {
            background: url(/assets/images/ourcars__sedan-min.jpg) no-repeat center;
        }
       &--suv {
            background: url(/assets/images/ourcars__suv-min.jpg) no-repeat center;
        }
       &--retro {
            background: url(/assets/images/ourcars__retro-min.jpg) no-repeat center;
       }
       &--cabriolet {
            background: url(/assets/images/ourcars__cabriolet-min.jpg) no-repeat center;
       }
       &--exclusive {
            background: url(/assets/images/ourcars__exclusive-min.jpg) no-repeat center;
       }
       &--van {
            background: url(/assets/images/ourcars__van-min.jpg) no-repeat center;
       }
       &--bus {
            background: url(/assets/images/ourcars__bus-min.jpg) no-repeat center;
       }
    }
    &__subtitle {
        position: relative;
        display: block;
        font-family: 'Lato-Bold', sans-serif;
        font-size: 22px;
        padding-top: 14px; 
        margin-top: 4px;
        margin-bottom: 4px;
        &:before {
            position: absolute;
            content: '';
            height: 2px;
            width: 30%;
            top: 0;
            background-color: #27cbc0;
        }      
    }
    &__border {
        margin-top: 40px;
        padding-bottom: 40px;
        border:  1px solid transparent;
        border-radius: 2px;
        cursor: pointer;
        transition: all .3s ease-out;
        &:hover {
            border:  1px solid rgba(170, 171, 170, .2);
            box-shadow: 0px 0px 10px 0px rgba(170, 171, 170, .7);
        }
    }
    &__button {
        font-family: 'Lato-Bold', sans-serif;
        font-size: 16px;
        text-transform: uppercase;
        background-color: #fff;
        color: #29d9cd;
        border: 2px solid  #27cbc0;
        padding:  18px 52px ;
        border-radius:  4px;
        margin-top: 30px;
        margin-bottom: 100px;
        transition: all .3s ease;
        &:hover {
            background-color: #29d9cd;
            border-color: #29d9cd;
            color: #fff;
        } 
         &:focus {
            outline: none; 
         }
    }
}

/* ------------------------------------
    How to
------------------------------------- */

.howto {
    &__left {
        &--bgc {
            background: url(/assets/images/howto__left-min.jpg) no-repeat center;
            background-size:  cover;            
        }
         height: 512px;
    }
    &__right {
        margin-left: 44px;
        margin-top: 100px;
        &--bgc {
            height: 512px;
            background-color: #f2f2f2;
        }
    }
    &__title {
        text-align: left;
        color: #fff;
        font-family: 'Museo-Cyrl', sans-serif;
        font-size: 40px;
        width: 464px;
        margin-bottom: 0;
        position: relative;
        &:after {
            position: absolute;
            content: '';
            height: 2px;
            width: 48px;
            background-color: #29d9cd;
            right: -17%;
            top: 32px;
        }
    }
    &__wrapper {
        text-align: right;
        margin-top: 66px;
        margin-right: 40px;
        float: right;
        &--driver {
            float: left;
            margin-left: 40px;
            text-align: left;
        }
    }
    &__subtitle {
        display: block;
        text-align: right;
        color: #fff;
        font-family: 'Museo-Cyrl', sans-serif;
        font-size: 40px;
        margin-bottom: 100px;
        &--driver{
            text-align: left;
        }
    }
    &__button {
         font-family: 'Lato-Bold', sans-serif;
        font-size: 16px;
        text-transform: uppercase;
        background-color: #fff;
        color: #29d9cd;
    }
    &__step {
        font-family: 'Lato-Regular', sans-serif;
        font-size: 18px;
        margin-bottom: 30px;
    }
    &__circle {
        display: inline-block;
        text-align: center;
        margin-right: 14px;
        padding: 4px;
        width: 36px;
        height: 36px;
        border: 2px solid #29d9cd;
        border-radius: 50%;
        position: relative;
        &:after {
            position: absolute;
            content: '';
            height: 32px;
            width: 2px;
            background-color: #29d9cd;
            top: 32px;
            right:14px;
        }
       &--none {
           position: relative;
           &:after {
            content: none;   
           }
       }
    }
    
    &__driver {
        &--bgc {
            background: url(/assets/images/howto__right-min.jpg) no-repeat center;
            background-size:  cover;            
        }
         height: 512px;
    }
}

/* ------------------------------------
    Footer Styles
------------------------------------- */

.footer {
    height: 200px;
    margin-top: 100px;
}