@import "../sprites/sprite";

@font-face {
    font-family: 'Lato-Regular';
    src: url('/assets/fonts/latoregular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('/assets/fonts/latobold.ttf') format('truetype');
}

@font-face {
    font-family: 'Museo-Cyrl';
    src: url('/assets/fonts/Museocyrl500.ttf') format('truetype');
}

@font-face {
    font-family: 'Nautilus-Pompilius';
    src: url('/assets/fonts/nautiluspompilius.ttf') format('truetype');
}

* {
    outline: 0;
}

body {
    min-width: 320px;
}

.scrollToTop {
    width: 50px;
    height: 60px;
    font-size: 56px;
    text-decoration: none;
    position: fixed;
    // top: 80%;
    opacity: .5;
    bottom: 140px;
    right: 40px;
    display: none;
    color: #27cbc0;
    transition: all .3s ease;
    z-index: 999;
    &:hover, &:focus {
        opacity: 1;
        text-decoration: none;
        color: #29d9c2;
    }
}

a {
    transition: all .3s ease;
    cursor: pointer;
    &:hover {
        text-decoration: none;
    }
}

.navbar-default {
    box-shadow: none;
    background-image: none;
    background-color: rgba(128, 128, 128, .2);
    border-color: rgba(128, 128, 128, .2);
}

.navbar-default .navbar-nav>li>a {
    color: #aaabaa;
    text-transform: uppercase;
    text-shadow: none;
    font-family: 'Lato-Regular', sans-serif;
    font-size: 14px;
    transition: all .3s ease;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.open>a {
    background-image: none;
    box-shadow: none;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: transparent;
}

.nav>li>a {
    padding: 15px 34px;
}

#preloader {
    background-color: #27cbc0;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
}

// section, footer {
//     overflow: hidden
// }

/* ------------------------------------
    Header Styles
------------------------------------- */

.header {
    transition: all .3s ease;
    &--bgc {
        background: url(/assets/images/header__bgc-min.jpg) no-repeat center;
        background-size: cover;
        min-height: 750px;
    }
    &__logo {
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 14px;
    }
    &__icon {
        display: inline-block;
        margin-top: 20px;
        margin-right: 20px;
        cursor: pointer;
        &--insta {
            @include sprite($icon-instagram);
        }
        &--vk {
            @include sprite($icon-vk);
        }
        &--fb {
            @include sprite($icon-fb);
        }
        &--twitter {
            @include sprite($icon-twitter);
        }
    }
    &__link {
        display: inline-block;
        margin-top: 20px;
        font-family: 'Lato-Regular', sans-serif;
        font-size: 16px;
        border-bottom: 1px solid #aaabaa;
        padding-bottom: 2px;
        color: #aaabaa;
        //  text-align: right;
        display: inline-block;
        transition: all .3s ease;
        &:hover {
            text-decoration: none;
            color: #fff;
        }
    }
    &__info {
        display: block;
        margin-left: 140px;
        font-family: 'Lato-Regular', sans-serif;
        font-size: 16px;
        color: #aaabaa;
        transition: all .3s ease;
        text-align: left;
        &--phone {
            margin-top: 20px;
            position: relative;
            &:before {
                position: absolute;
                content: '';
                @include sprite($icon-phone);
                left: -30px;
            }
        }
        &--marker {
            margin-top: 10px;
            position: relative;
            &:before {
                position: absolute;
                content: '';
                @include sprite($icon-location);
                left: -30px;
            }
        }
        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
    &__title {
        font-family: 'Museo-Cyrl', sans-serif;
        font-weight: bold;
        color: #fff;
        font-size: 60px;
        letter-spacing: 2px;
        margin-top: 96px;
    }
    &__subtitle {
        font-family: 'Nautilus-Pompilius', sans-serif;
        font-size: 28px;
        color: #fff;
    }
    &__button {
        font-family: 'Lato-Bold', sans-serif;
        font-size: 17px;
        color: #fff;
        text-transform: uppercase;
        background-color: #27cbc0;
        border-style: none;
        padding: 22px 32px;
        border-radius: 4px;
        margin-top: 60px;
        margin-bottom: 80px;
        transition: all .3s ease;
        &:hover {
            background-color: #29d9cd;
        }
        &--howto {
            padding: 18px 36px;
            margin-top: 64px;
            margin-right: 6px;
        }
        &--order {
            padding: 18px 30px;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        &--right {
            float: right;
        }
    }
}


/* ------------------------------------
    Page Home, Our Cars Styles 
------------------------------------- */

.ourcars {
    &__title {
        margin-top: 90px;
        margin-bottom: 60px;
        // text-align: center;
        font-size: 40px;
        font-family: 'Museo-Cyrl', sans-serif;
        display: inline-block;
        position: relative;
        &:before {
            position: absolute;
            content: '';
            height: 2px;
            width: 100%;
            bottom: -14px;
            background-color: #27cbc0;
        }
    }
    &__car {
        margin-top: 30px;
        color: #333;
        display: block;
        span {
            display: block;
            font-family: 'Lato-Regular', sans-serif;
            font-size: 16px;
            color: #a7a7a7;
        }
        &:hover {
            text-decoration: none;
        }
    }
    &__image {
        background-size: contain;
        height: 160px;
        &--limo {
            background: url(/assets/images/ourcars__limo-min.jpg) no-repeat center;
        }
        &--sedan {
            background: url(/assets/images/ourcars__sedan-min.jpg) no-repeat center;
        }
        &--suv {
            background: url(/assets/images/ourcars__suv-min.jpg) no-repeat center;
        }
        &--retro {
            background: url(/assets/images/ourcars__retro-min.jpg) no-repeat center;
        }
        &--cabriolet {
            background: url(/assets/images/ourcars__cabriolet-min.jpg) no-repeat center;
        }
        &--exclusive {
            background: url(/assets/images/ourcars__exclusive-min.jpg) no-repeat center;
        }
        &--van {
            background: url(/assets/images/ourcars__van-min.jpg) no-repeat center;
        }
        &--bus {
            background: url(/assets/images/ourcars__bus-min.jpg) no-repeat center;
        }
    }
    &__subtitle {
        position: relative;
        display: block;
        font-family: 'Lato-Bold', sans-serif;
        font-size: 22px;
        padding-top: 14px;
        margin-top: 4px;
        margin-bottom: 4px;
        &:before {
            position: absolute;
            content: '';
            height: 2px;
            width: 30%;
            top: 0;
            background-color: #27cbc0;
        }
    }
    &__border {
        margin-top: 40px;
        padding-bottom: 40px;
        border: 1px solid transparent;
        border-radius: 2px;
        cursor: pointer;
        transition: all .3s ease-out;
        &:hover {
            border: 1px solid rgba(170, 171, 170, .2);
            box-shadow: 0px 0px 10px 0px rgba(170, 171, 170, .7);
        }
    }
    &__button {
        font-family: 'Lato-Bold', sans-serif;
        font-size: 16px;
        text-transform: uppercase;
        background-color: #fff;
        color: #29d9cd;
        border: 2px solid #27cbc0;
        padding: 18px 52px;
        border-radius: 4px;
        margin-top: 30px;
        margin-bottom: 100px;
        transition: all .3s ease;
        &:hover {
            background-color: #29d9cd;
            border-color: #29d9cd;
            color: #fff;
        }
        &:focus {
            outline: none;
        }
    }
}


/* ------------------------------------
    Page Home, How to Styles
------------------------------------- */

.howto {
    &__left {
        &--bgc {
            background: url(/assets/images/howto__left-min.jpg) no-repeat center;
            background-size: cover;
        }
        min-height: 512px;
    }
    &__right {
        margin-left: 44px;
        margin-top: 100px;
        &--left {
            margin-left: 23%;
        }
        &--bgc {
            min-height: 512px;
            background-color: #f2f2f2;
        }
    }
    &__title {
        // text-align: left;
        color: #fff;
        font-family: 'Museo-Cyrl', sans-serif;
        font-size: 40px;
        // width: 464px;
        width: 100%;
        margin-bottom: 0;
        position: relative;
        &:after {
            position: absolute;
            content: '';
            height: 2px;
            width: 48px;
            background-color: #29d9cd;
            right: -17%;
            top: 32px;
        }
        &--right {
            &:after {
                left: -17%;
            }
        }
    }
    &__wrapper {
        text-align: right;
        margin-top: 66px;
        margin-right: 40px;
        float: right;
        &--driver {
            float: left;
            margin-left: 40px;
            text-align: left;
        }
    }
    &__subtitle {
        display: block;
        text-align: right;
        color: #fff;
        font-family: 'Museo-Cyrl', sans-serif;
        font-size: 40px;
        margin-bottom: 100px;
        &--driver {
            text-align: left;
        }
    }
    &__button {
        font-family: 'Lato-Bold', sans-serif;
        font-size: 16px;
        text-transform: uppercase;
        background-color: #fff;
        color: #29d9cd;
    }
    &__step {
        font-family: 'Lato-Regular', sans-serif;
        font-size: 18px;
        margin-bottom: 30px;
    }
    &__circle {
        display: inline-block;
        text-align: center;
        margin-right: 14px;
        padding: 4px;
        width: 36px;
        height: 36px;
        border: 2px solid #29d9cd;
        border-radius: 50%;
        position: relative;
        &:after {
            position: absolute;
            content: '';
            height: 32px;
            width: 2px;
            background-color: #29d9cd;
            top: 32px;
            right: 14px;
        }
        &--none {
            position: relative;
            &:after {
                content: none;
            }
        }
    }
    &__driver {
        &--bgc {
            background: url(/assets/images/howto__right-min.jpg) no-repeat center;
            background-size: cover;
        }
        min-height: 512px;
    }
}


/* ------------------------------------
    Page Home, Popular Cars  Styles
------------------------------------- */

.popularcars {
    &--pageorder {
        background-color: #f2f2f2;
    }
    padding-bottom: 120px;
    &__title {
        margin-top: 96px;
        margin-bottom: 92px;
        font-size: 40px;
        display: inline-block;
        font-family: 'Museo-Cyrl', sans-serif;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            bottom: -14px;
            background-color: #27cbc0;
        }
        &--about {
            margin-bottom: 60px;
        }
        &--question {
            margin-bottom: 50px;
        }
        &--contact {
            margin-top: 90px;
            margin-bottom: 64px;
            text-align: left;
            width: 200px;
            &:before {
                width: 100%;
            }
        }
    }
}

.slick-next {
    @include sprite($icon-right);
    height: 34px;
    width: 18px;
    right: -40px;
    &:before {
        content: none;
    }
    &:hover,
    &:focus {
        @include sprite($icon-right);
    }
}

.slick-prev {
    @include sprite($icon-left);
    height: 34px;
    width: 18px;
    left: -40px;
    &:before {
        content: none;
    }
    &:hover,
    &:focus {
        @include sprite($icon-left);
    }
}

.slider {
    &__info {
        width: 270px;
        margin: 0 auto;
        display: block;
    }
    &__image {
        height: 200px;
        background-repeat: no-repeat;
        background-position: center;
    }
    &__star {
        &:before {
            // margin: 4px;
            font-size: 16px;
            font-family: FontAwesome;
            display: inline-block;
            content: "\f006";
            color: #ddd;
        }
        &--full {
            &:before {
                color: #f3cc49;
            }
        }
        // &--half {
        //     &:before {
        //         content: "\f089";
        //         position: absolute;
        //     }
        // }
    }
    &__title {
        font-size: 20px;
        font-family: 'Lato-Bold', sans-serif;
        color: #333;
    }
    &__rating {
        font-size: 'Lato-Regular', sans-serif;
        font-size: 16px;
        color: #808080;
    }
    &__more {
        font-size: 16px;
        font-family: 'Lato-Regular', sans-serif;
        color: #27cbc0;
    }
}


/* ------------------------------------
    Page Home, About Styles
------------------------------------- */

.about {
    min-height: 534px;
    &__info {
        font-size: 18px;
        font-family: 'Lato-Regular', sans-serif;
        text-align: center;
        margin-left: 10px;
        margin-bottom: 50px;
    }
    &--bgc {
        background-color: #f2f2f2;
    }
}

.benefit {
    text-align: center;
    &__image {
        margin-bottom: 20px;
    }
    &__title {
        font-family: 'Lato-Bold', sans-serif;
        font-size: 20px;
        text-align: center;
    }
    &__info {
        font-family: 'Lato-Regular', sans-serif;
        font-size: 16px;
        margin-right: 50px;
        margin-left: 50px;
    }
}


/* ------------------------------------
    Page Home, Question Styles
------------------------------------- */

.question {
    margin-bottom: 100px;
    text-align: center;
    &__subtitle {
        font-family: 'Nautilus-Pompilius', sans-serif;
        font-size: 28px;
        color: #808080;
        display: block;
    }
    &__form {
        margin: 60px 68px 30px 72px;
        text-align: left;
    }
    &__button {
        font-size: 18px;
        font-family: 'Lato-Bold', sans-serif;
        text-transform: uppercase;
        padding: 18px 32px;
        background-color: #27cbc0;
        border: none;
        background-image: none;
        color: #fff;
        transition: all .3s ease;
        &:hover {
            background-color: #29d9cd;
            color: #fff;
        }
    }
}

.form-control {
    height: 48px;
    border-color: #d2d2d2;
    padding-left: 48px;
    padding-top: 10px;
    font-family: 'Lato-Regular', sans-serif;
    font-size: 16px;
    transition: all .3s ease;
    &:focus {
        border-color: #27cbc0;
    }
}

.form-group {
    margin-bottom: 34px;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        @include sprite($icon-name);
        margin: 14px;
    }
    &--phone {
        &:before {
            @include sprite($icon-phone);
        }
    }
    &--textarea {
        &:before {
            @include sprite($icon-question);
        }
        margin-bottom: 32px;
    }
    &--noicon {
        .form-control {
            height: 40px;
            padding-left: 20px;
            padding-top: 6px;
            font-size: 15px;
        }
        &:before {
            content: none;
        }
    }
}


/* ------------------------------------
    Page Home, Contact Styles
------------------------------------- */

.contact {
    font-family: 'Lato-Regular', sans-serif;
    font-size: 20px;
    color: #555;
    letter-spacing: 1.1px;
    &__map {
        background-image: url(/assets/images/contact__map.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 539px;
    }
    &__info {
        margin-left: 28px;
        span {
            display: block;
        }
    }
    &__phone {
        display: block;
        margin-top: 12px;
        color: #555;
        position: relative;
        padding-left: 30px;
        transition: all .3s ease;
        &:before {
            position: absolute;
            content: '';
            @include sprite($icon-phone);
            left: 0px;
            top: 6px;
        }
        &:hover {
            text-decoration: none;
        }
    }
    &__email {
        display: block;
        margin-top: 12px;
        color: #555;
        position: relative;
        padding-left: 30px;
        transition: all .3s ease;
        &:before {
            position: absolute;
            content: '';
            @include sprite($icon-letter);
            left: 0px;
            top: 6px;
        }
        &:hover {
            text-decoration: none;
        }
    }
    &__social {
        letter-spacing: 1.2px;
        margin-top: 34px;
        margin-bottom: -6px;
        font-size: 16px;
        display: block;
    }
    &__bgc {
        background-color: #f2f2f2;
        padding-bottom: 94px;
    }
}


/* ------------------------------------
    Footer Styles
------------------------------------- */

.footer {
    min-height: 82px;
    // margin-top: 100px;
    background-color: #2e3333;
    &__info {
        margin-top: 30px;
        font-size: 16px;
        font-family: 'Lato-Regular', sans-serif;
        color: #646565;
    }
}

/* ------------------------------------
    Page Order, Order Car Styles
------------------------------------- */

.order {
    font-family: 'Lato-Regular', sans-serif;
    font-size: 16px;
    margin-bottom: 80px;
    p {
        color: #808080;
        text-align: justify;
    }
    &__layout {
        margin-top: -516px;
        padding-top: 10px;
        background: #fff;
        &--checkout {
            min-height: 700px;
        }
    }
    &__title {
        font-family: 'Museo-Cyrl', sans-serif;
        font-size: 40px;
        padding-top: 46px;
        margin-bottom: 20px;
        color: #333;
        &--checkout {
            font-size: 30px;
            padding-top: 0px;
            padding-bottom: 20px; 
        }
    }
    &__crums {
        padding: 20px 0 30px;
        display: inline-block;
        font-family: 'Lato-Regular', sans-serif;
        font-size: 14px;
        color: #808080;
        transition: all .3s ease;
        &--checkout {
            padding: 10px 0 20px;
        }
        &:hover {
            text-decoration: none;
        }
    }
    &__comment {
        font-family: 'Lato-Regular', sans-serif;
        font-size: 16px;
        display: inline-block;
        margin-left: 14px;
        transition: all .3s ease;
        color: #27cbc0;
        &:hover {
            text-decoration: none;
        }
    }
    &__list {
        list-style: none;
        padding: 0;
        margin-top: 16px;
        margin-bottom: 20px;
        li {
            font-family: 'Lato-Regular', sans-serif;
            font-size: 16px;
            line-height: 1.6;
            span {
                color: #808080;
                display: inline-block;
                width: 160px;
            }
            strong {
                color: #4d4d4d;
            }
        }
    }
    &__subtitle {
        font-size: 16px;
    }
    &__calendar {
        margin-top: 38px;
    }
    &__header {
        font-family: 'Lato-Bold', sans-serif;
        margin-top: 60px;
        margin-bottom: 28px;
        font-size: 22px;
        color: #333;
        display: inline-block;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            height: 2px;
            width: 80%;
            top: -14px;
            background-color: rgb(39, 203, 192);
        }
    }
    &__form {
        strong {
            display: inline-block;
            color: #808080;
            width: 80px;
        }
    }
}

.rent {
    margin-top: 40px;
    margin-bottom: 20px;
    &__title {
        margin-bottom: 20px;
        font-size: 16px;
    }
    &__price {
        display: inline-block;
        height: 58px;
        min-width: 108px;
        padding: 4px 0 0 18px;
        background-color: #eee;
        &--mid {
            margin-left: 6px;
            margin-right: 6px;
        }
        span {
            display: block;
        }
        b {
            font-family: 'Lato-Bold', sans-serif;
            font-size: 18px;
            color: #4d4d4d;
        }
    }
}

.comment {
    margin-bottom: 50px;
    &__name {
        width: 160px;
        display: inline-block;
        margin-right: 10px;
        color: #333;
        font-weight: bold;
    }
    &__date {
        display: block;
        color: #808080;
        margin-bottom: 10px;
    }
}

/* ------------------------------------
    Page Checkout, Checkout Car Styles
------------------------------------- */

.checkout {
    &__info {
        height: 170px;
        margin-left: 40px;
        margin-right: 100px;
        margin-bottom: 16px;
        background-color: #f2f2f2;
    }
    &__title {
        font-family: 'Lato-Bold', sans-serif;
        font-size: 17px;
        margin-bottom: 30px;
    }
}